<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>


<h1>Login</h1>
<form action="/auth/login" method='POST'>
    <table>
        <tr>
            <td><label for="username">Username (email): </label></td>
            <td><input type='text' name='username' id="username" value=''></td>
        </tr>
        <tr>
            <td><label for="password">Password: </label></td>
            <td><input type='password' name='password' id="password"/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>


</body>
</html>