<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments/default-page :: bootstrap">
    <title>Sign in</title>
</head>
<body>

<div th:replace="fragments/default-page :: header"></div>



<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins mt-4 mb-4">
    <div class="wrapper wrapper--w680">
        <section class="vh-100">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5" th:text="#{message.login}">Login</h2>

                                    <div class="alert alert-danger" role="alert" th:if="${param.keySet().contains('error')}" th:text="#{message.login.failed}"></div>
                                    <div class="alert alert-success" role="alert" th:if="${param.keySet().contains('logout')}" th:text="#{message.logout.completed}"></div>
                                    <div class="alert alert-success" role="alert" th:if="${param.keySet().contains('reg')}" th:text="#{message.registration.completed}"></div>

                                    <form id="form" name="form" action="/auth/login" method='POST'>

                                        <div class="form-outline mb-4">
                                            <input type='text' name='username' id="username" class="form-control form-control-lg" required>
                                            <label class="form-label" for="username" th:text="#{message.require.username}"></label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type='password' name='password' id="password" class="form-control form-control-lg" required>
                                            <label class="form-label" for="password" th:text="#{message.require.password}"></label>
                                        </div>


                                        <div class="d-flex justify-content-center">
                                            <button name="submit" type="submit" th:text="#{message.login.confirm}" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body register-btn"></button>
                                        </div>

                                        <p class="text-center text-muted mt-5 mb-0"><span th:text="#{message.account.absent}">Don't have an account? </span><span> </span><a th:href="@{/register}" class="fw-bold text-body"><u th:text="#{message.sign.up}">Sign up here</u></a></p>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragments/default-page :: footer"></div>

</body>
</html>